body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

#NavigationBar1 ul.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for better alignment */
  gap: 4px; /* Space between items */
}

#NavigationBar1 ul.navbar li {
  height: 30px;
  width: 233px;
  margin: 0 4px 10px 0; /* Added bottom margin */
}

#NavigationBar1 ul.navbar li a {
  position: relative;
  display: block;
  text-align: center; /* Center text */
  font-weight: bold;
  color: #333;
  padding: 5px;
  transition: 0.3s;
}

#NavigationBar1 ul.navbar li a:hover {
  color: #007bff; /* Hover color */
}

#NavigationBar1 ul.navbar li a img {
  position: absolute;
  left: 0;
  z-index: 1;
  border-width: 0;
}

#NavigationBar1 ul.navbar li span {
  display: block;
  height: 30px;
  width: 233px;
  position: absolute;
  z-index: 2;
}

#NavigationBar1 a .hover {
  visibility: hidden;
}

#NavigationBar1 a:hover .hover {
  visibility: visible;
}

#NavigationBar1 a:hover span {
  visibility: hidden;
}

#Button2 {
  border: 1px solid #228b22;
  border-radius: 23px;
  background-color: #008000;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button2:focus {
  outline: 0;
}
#Button3 {
  border: 1px solid #ff0000;
  border-radius: 23px;
  background-color: #ff0000;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button3:focus {
  outline: 0;
}
#wb_Icon3 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#Icon3 {
  height: 28px;
  width: 31px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon3 i {
  color: #ffffff;
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  vertical-align: middle;
}
#wb_Icon3:hover #Icon3 i {
  color: #0d6efd;
}
#HorizontalLine1 {
  border-color: #808080;
  border-style: solid;
  border-bottom-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 0 !important;
  line-height: 0 !important;
  margin: 0;
  padding: 0;
}
#HorizontalLine2 {
  border-color: #696969;
  border-style: solid;
  border-bottom-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 0 !important;
  line-height: 0 !important;
  margin: 0;
  padding: 0;
}
#wb_Carousel2 {
  background-color: #f8f9fa;
  background-image: none;
  border-radius: 0px;
}
#Carousel2 .frame {
  width: 1865px;
  display: inline-block;
  float: left;
  height: 775px;
}
#wb_Carousel2 .pagination {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  z-index: 998;
}
#wb_Carousel2 .pagination a {
  display: inline-block;
  margin: 12px 12px 12px 12px;
  width: 11px;
  height: 11px;
  cursor: pointer;
  text-indent: -999px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(222, 226, 230, 1);
}
#wb_Carousel2 .pagination a.active {
  background-color: rgba(222, 226, 230, 1);
}
#wb_Carousel2 .carousel-control-next,
#wb_Carousel2 .carousel-control-prev {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
#wb_Carousel2 .carousel-control-next-icon,
#wb_Carousel2 .carousel-control-prev-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
#wb_Carousel2 .carousel-control-next:hover,
#wb_Carousel2 .carousel-control-prev:hover {
  text-decoration: none;
  outline: 0;
  opacity: 1;
}
#wb_Carousel2 .carousel-control-prev-icon {
  background: url("data:image/svg+xml,%3csvg%20style%3d%22fill:%23DEE2E6%22%20viewBox%3d%220%200%20128%20128%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M35%2058%20C33%2060%2c%2032%2062%2c%2032%2064%20L32%2064%20L32%2064%20C32%2066%2c%2033%2068%2c%2035%2070%20L83%20118%20L83%20118%20C84%20119%2c%2086%20120%2c%2088%20120%20C90%20120%2c%2092%20119%2c%2094%20118%20C96%20116%2c%2096%20114%2c%2096%20112%20C96%20110%2c%2096%20108%2c%2094%20106%20L52%2064%20L52%2064%20L94%2022%20L94%2022%20C96%2020%2c%2096%2018%2c%2096%2016%20C96%2014%2c%2096%2012%2c%2094%2010%20C92%209%2c%2090%208%2c%2088%208%20C86%208%2c%2084%209%2c%2083%2010%20L35%2058Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a")
    no-repeat center center;
}
#wb_Carousel2 .carousel-control-next-icon {
  background: url("data:image/svg+xml,%3csvg%20style%3d%22fill:%23DEE2E6%22%20viewBox%3d%220%200%20128%20128%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M94%2058%20C96%2060%2c%2096%2062%2c%2096%2064%20L96%2064%20L96%2064%20C96%2066%2c%2096%2068%2c%2094%2070%20L46%20118%20L46%20118%20C44%20119%2c%2042%20120%2c%2040%20120%20C38%20120%2c%2036%20119%2c%2035%20118%20C33%20116%2c%2032%20114%2c%2032%20112%20C32%20110%2c%2033%20108%2c%2035%20106%20L77%2064%20L77%2064%20L35%2022%20L35%2022%20C33%2020%2c%2032%2018%2c%2032%2016%20C32%2014%2c%2033%2012%2c%2035%2010%20C36%209%2c%2038%208%2c%2040%208%20C42%208%2c%2044%209%2c%2046%2010%20L94%2058Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a")
    no-repeat center center;
}
#Carousel2_back {
  position: absolute;
  left: 4px;
  top: 47%;
  width: 32px;
  height: 32px;
  z-index: 999;
}
#Carousel2_next {
  position: absolute;
  right: 4px;
  top: 47%;
  width: 32px;
  height: 32px;
  z-index: 999;
}
#Carousel2_back a,
#Carousel2_next a {
  cursor: pointer;
}
#wb_Image3 {
  vertical-align: top;
}
#Image3 {
  border: 0px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wb_contact8Heading1 {
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  margin: 0;
  padding: 10px 0 15px 0;
  text-align: center;
}
#contact8Heading1 {
  color: #ffffff;
  font-family: "Bookman Old Style";
  font-weight: normal;
  font-style: normal;
  font-size: 75px;
  margin: 0;
  text-align: center;
  text-transform: none;
  -webkit-text-stroke: 0px #000000;
  text-stroke: 0px #000000;
}
#wb_Heading3 {
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  margin: 0;
  padding: 10px 0 15px 0;
  text-align: justify;
}
#Heading3 {
  color: #ffd700;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  margin: 0;
  text-align: justify;
  text-transform: none;
  -webkit-text-stroke: 0px #000000;
  text-stroke: 0px #000000;
}
#wb_Card1 {
  margin: 0;
  background-color: transparent;
  background-image: none;
  border: 0px solid #4f4f4f;
  border-radius: 5px;
  text-align: center;
}
#Card1-card-body {
  padding: 64px 64px 64px 64px;
  font-size: 0;
}
#wb_Text3 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text3 div {
  text-align: left;
}
#wb_Text4 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text4 div {
  text-align: left;
}
#wb_Text4:hover {
  background-color: #ffffff;
  transition: background-color 500ms ease-in 0ms;
}
#wb_Text5 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: justify;
}
#wb_Text5 div {
  text-align: justify;
}
#wb_Text6 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text6 div {
  text-align: left;
}
#wb_Text7 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: justify;
}
#wb_Text7 div {
  text-align: justify;
}
#wb_Text8 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text8 div {
  text-align: left;
}
#Button5 {
  border: 0px solid #0d6efd;
  border-radius: 4px;
  background-color: #006400;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button5:focus {
  outline: 0;
}
#Button6 {
  border: 1px solid #0d6efd;
  border-radius: 4px;
  background-color: #006400;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button6:focus {
  outline: 0;
}
#Button7 {
  border: 1px solid #0d6efd;
  border-radius: 4px;
  background-color: #006400;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button7:focus {
  outline: 0;
}
#wb_Icon4 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#Icon4 {
  height: 60px;
  width: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon4 i {
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  vertical-align: middle;
}
#wb_Icon4:hover #Icon4 i {
  color: #0d6efd;
}
#wb_Icon5 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#Icon5 {
  height: 60px;
  width: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon5 i {
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  vertical-align: middle;
}
#wb_Icon5:hover #Icon5 i {
  color: #0d6efd;
}
#wb_Icon6 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#Icon6 {
  height: 60px;
  width: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon6 i {
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  vertical-align: middle;
}
#wb_Icon6:hover #Icon6 i {
  color: #0d6efd;
}
#wb_Image4 {
  vertical-align: top;
}
#Image4 {
  border: 0px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wb_Text9 {
  -webkit-background-clip: text;
  background-clip: text;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text9 div {
  text-align: left;
}
#wb_Text9:hover {
  background-color: #ffffff;
  transition: background-color 500ms ease-in 0ms;
}
#wb_Card8 {
  margin: 0 0 30px 0;
  background-color: #ffffff;
  background-image: none;
  border: 0px solid #dedede;
  border-radius: 16px;
  text-align: center;
}
#Card8-card-body {
  padding: 0;
  font-size: 0;
}
#Card8-card-item0 {
  display: inline-block;
  height: 53px;
  box-sizing: border-box;
  margin: 30px 0 20px 0;
  border: 0px solid #bababa;
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  color: #0078ff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 53px;
}
#Card8-card-item0:hover {
  transform: rotate(0deg) scale(1.5, 1.5);
  transition: transform 200ms linear 0ms;
}
#Card8-card-item0 {
  transform: rotate(0deg);
  transition: transform 200ms linear 0ms;
}
#Card8-card-item0 a {
  color: inherit;
  display: block;
  padding: 0;
  text-decoration: none;
}
#Card8-card-item0 i {
  margin-right: 0px;
  text-align: center;
  vertical-align: top;
  font-size: 53px;
  width: 53px;
}
#Card8-card-item1 {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
}
#Card8-card-item2 {
  box-sizing: border-box;
  margin: 0 20px 30px 20px;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
}
#wb_Card2 {
  margin: 0 0 30px 0;
  background-color: #ffffff;
  background-image: none;
  border: 0px solid #dedede;
  border-radius: 16px;
  text-align: center;
}
#Card2-card-body {
  padding: 0;
  font-size: 0;
}
#Card2-card-item0 {
  display: inline-block;
  height: 53px;
  box-sizing: border-box;
  margin: 30px 0 20px 0;
  border: 0px solid #bababa;
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  color: #0078ff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 53px;
}
#Card2-card-item0:hover {
  transform: rotate(0deg) scale(1.5, 1.5);
  transition: transform 200ms linear 0ms;
}
#Card2-card-item0 {
  transform: rotate(0deg);
  transition: transform 200ms linear 0ms;
}
#Card2-card-item0 a {
  color: inherit;
  display: block;
  padding: 0;
  text-decoration: none;
}
#Card2-card-item0 i {
  margin-right: 0px;
  text-align: center;
  vertical-align: top;
  font-size: 53px;
  width: 53px;
}
#Card2-card-item1 {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
}
#Card2-card-item2 {
  box-sizing: border-box;
  margin: 0 20px 30px 20px;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
}
#wb_Card3 {
  margin: 0 0 30px 0;
  background-color: #ffffff;
  background-image: none;
  border: 0px solid #dedede;
  border-radius: 16px;
  text-align: center;
}
#Card3-card-body {
  padding: 0;
  font-size: 0;
}
#Card3-card-item0 {
  display: inline-block;
  height: 53px;
  box-sizing: border-box;
  margin: 30px 0 20px 0;
  border: 0px solid #bababa;
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  color: #0078ff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 53px;
}
#Card3-card-item0:hover {
  transform: rotate(0deg) scale(1.5, 1.5);
  transition: transform 200ms linear 0ms;
}
#Card3-card-item0 {
  transform: rotate(0deg);
  transition: transform 200ms linear 0ms;
}
#Card3-card-item0 a {
  color: inherit;
  display: block;
  padding: 0;
  text-decoration: none;
}
#Card3-card-item0 i {
  margin-right: 0px;
  text-align: center;
  vertical-align: top;
  font-size: 53px;
  width: 53px;
}
#Card3-card-item1 {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
}
#Card3-card-item2 {
  box-sizing: border-box;
  margin: 0 20px 30px 20px;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
}
#Button1 {
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button1:focus {
  outline: 0;
}
#Button1:hover {
  background-color: #008000;
  transition: background-color 500ms linear 0ms;
}
#Button8 {
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button8:focus {
  outline: 0;
}
#Button8:hover {
  background-color: #008000;
  transition: background-color 500ms linear 0ms;
}
#Button9 {
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button9:focus {
  outline: 0;
}
#Button9:hover {
  background-color: #008000;
  transition: background-color 500ms linear 0ms;
}
#wb_Image5 {
  vertical-align: top;
}
#Image5 {
  border: 0px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wb_Text10 {
  -webkit-background-clip: text;
  background-clip: text;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text10 div {
  text-align: left;
}
#wb_Text11 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text11 div {
  text-align: left;
}
#wb_Text11:hover {
  background-color: #ffffff;
  transition: background-color 500ms ease-in 0ms;
}
#wb_Text12 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#wb_Text12 div {
  text-align: left;
}
#wb_Text12 {
  display: inline-block;
  margin: 0;
  width: 553px;
  height: 18px;
}
#wb_Icon8 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ede9e1;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 6px 6px 6px 6px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#wb_Icon8 a {
  text-decoration: none;
}
#wb_Icon8 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}
#wb_Icon8:hover {
  background-color: transparent;
  background-image: none;
  border: 0px solid #645e59;
}
#Icon8 {
  height: 30px;
  width: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon8 i {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
#wb_Icon8:hover #Icon8 i {
  color: #000000;
}
#wb_Icon9 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ede9e1;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 6px 6px 6px 6px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#wb_Icon9 a {
  text-decoration: none;
}
#wb_Icon9 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}
#wb_Icon9:hover {
  background-color: transparent;
  background-image: none;
  border: 0px solid #645e59;
}
#Icon9 {
  height: 30px;
  width: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon9 i {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
#wb_Icon9:hover #Icon9 i {
  color: #000000;
}
#wb_Icon10 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ede9e1;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 6px 6px 6px 6px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#wb_Icon10 a {
  text-decoration: none;
}
#wb_Icon10 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}
#wb_Icon10:hover {
  background-color: transparent;
  background-image: none;
  border: 0px solid #645e59;
}
#Icon10 {
  height: 30px;
  width: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon10 i {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
#wb_Icon10:hover #Icon10 i {
  color: #000000;
}
#wb_Image2 {
  vertical-align: top;
}
#Image2 {
  border: 0px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wb_Heading1 {
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  margin: 0;
  padding: 10px 0 15px 0;
  text-align: center;
}
#Heading1 {
  color: #006400;
  font-family: "Bookman Old Style";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  margin: 0;
  text-align: center;
  text-transform: none;
  -webkit-text-stroke: 0px #000000;
  text-stroke: 0px #000000;
}
#Heading1 a {
  color: inherit;
  text-decoration: none;
}
#wb_Heading2 {
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  margin: 0;
  padding: 10px 0 15px 0;
  text-align: justify;
}
#Heading2 {
  color: #ff0000;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  margin: 0;
  text-align: justify;
  text-transform: none;
  -webkit-text-stroke: 0px #000000;
  text-stroke: 0px #000000;
}
#Heading2 a {
  color: inherit;
  text-decoration: none;
}
#wb_Icon1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #696969;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#wb_Icon1 a {
  text-decoration: none;
}
#wb_Icon1 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}
#Icon1 {
  height: 29px;
  width: 67px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon1 i {
  color: #696969;
  display: inline-block;
  font-size: 29px;
  line-height: 29px;
  vertical-align: middle;
}
#wb_Icon1:hover #Icon1 i {
  color: #808080;
}
#wb_Icon2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#Icon2 {
  height: 28px;
  width: 31px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#Icon2 i {
  color: #ffffff;
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  vertical-align: middle;
}
#wb_Icon2:hover #Icon2 i {
  color: #0d6efd;
}
#wb_LayoutGrid1 {
  clear: both;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 7777;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: #006400;
  background-image: none;
  border: 0px solid #cccccc;
  border-radius: 0px;
  box-sizing: border-box;
  opacity: 0.6;
  margin: 0;
}
#LayoutGrid1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 0 25px 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
#LayoutGrid1 > .col-1,
#LayoutGrid1 > .col-2 {
  box-sizing: border-box;
  font-size: 0;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid1 > .col-1,
#LayoutGrid1 > .col-2 {
  flex: 0 0 auto;
}
#LayoutGrid1 > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  border-radius: 0px;
  flex-basis: 50%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
#LayoutGrid1 > .col-2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  border-radius: 0px;
  flex-basis: 50%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
@media (max-width: 480px) {
  #LayoutGrid1 > .col-1,
  #LayoutGrid1 > .col-2 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}
#wb_Image6 {
  vertical-align: top;
}
#Image6 {
  border: 0px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wb_Image1 {
  vertical-align: top;
}
#Image1 {
  border: 0px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#Button4 {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button4:focus {
  outline: 0;
}
#Button4:hover {
  background-color: #008000;
  transition: background-color 500ms linear 0ms;
}
#wb_Text2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: justify;
}
#wb_Text2 div {
  text-align: justify;
}
#wb_Text1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: justify;
}
#wb_Text1 div {
  text-align: justify;
}
#Button10 {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}
#Button10:focus {
  outline: 0;
}
#Button10:hover {
  background-color: #008000;
  transition: background-color 500ms linear 0ms;
}
#wb_Text13 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  text-align: justify;
}
#wb_Text13 div {
  text-align: justify;
}
#Editbox1 {
  line-height: 29px;
  margin: 0;
  border: 3px solid #008000;
  border-radius: 40px;
  background-color: #ffffff;
  background-image: none;
  color: #212529;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
  text-align: left;
  padding: 4px 4px 4px 4px;
}
#Editbox1:focus {
  border-color: #006400;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(0, 100, 0, 0.6);
  outline: 0;
}
#wb_News {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  border-radius: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#wb_News a {
  text-decoration: none;
}
#wb_News a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}
#News {
  height: 39px;
  width: 53px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#News i {
  color: #000000;
  display: inline-block;
  font-size: 39px;
  line-height: 39px;
  vertical-align: middle;
}
#wb_News:hover #News i {
  color: #4f4f4f;
}
#PageFooter2 {
  background-color: #f8f9fa;
  background-image: none;
  border-radius: 0px;
  box-sizing: border-box;
}
#PageFooter3 {
  background-color: #f8f9fa;
  background-image: none;
  border-radius: 0px;
  box-sizing: border-box;
}
#PageFooter4 {
  background-color: #f8f9fa;
  background-image: none;
  border-radius: 0px;
  box-sizing: border-box;
}
#PageFooter1 {
  background-color: #f8f9fa;
  background-image: none;
  border-radius: 0px;
  box-sizing: border-box;
}
